
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="~/Content/css/bootstrap.min.css" />
    <link href="~/Content/css/Style.css" />
</head>
<body>
    <section class="main-form">
        <div class="row">
            
        </div>

    </section>



    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

</body>
</html>
