
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/layout_main.cshtml";
}
@using AdminWeb.Models.DB;
<style>
    .container {
    }
</style>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">data table</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2 select2-hidden-accessible ajax_selected_click" name="property" tabindex="-1" aria-hidden="true">
                            <option selected="selected" disabled>Table</option>
                            @foreach (tableName it in ViewBag.tableNameList) //list<tencanBang>
                            {
                                <option class="optionChose" name="@it.name">@it.name</option>
                            }
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    @*<div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2 select2-hidden-accessible" name="time" tabindex="-1" aria-hidden="true">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>*@
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
                <div class="table-data__tool-right">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small ajax_add_item">
                        <i class="zmdi zmdi-plus"></i>add item
                    </button>
                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                        <select class="js-select2 select2-hidden-accessible" name="type" tabindex="-1" aria-hidden="true">
                            <option selected="selected">Export</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive table--no-card m-b-40" id="dataTable">
                @*@Html.Action("_PartialPage_TableData","Home",new { nametable = "Blog" })*@
            </div>

            <!-- END DATA TABLE-->
        </div>
    </div>
</div>
<div>
<div class="modal fade" id="myModal" role="dialog"> </div>
</div>